.show_contaniner {
    margin: 50px 0px;
    padding: 40px;
    background-color: var(--full-red);
}

.show_contaniner img {
    border-radius: 20px;

}

.show_contaniner h3 {
    font-size: 1rem;
}

.show_img_mini_container {
    width: 7em;
    background-color: var(--white);

    /* padding: 5px; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.show_img_mini_container img {
    /* padding: 5px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}

.show_main_img {
    width: 100%;
    /* height: 100%; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-style: solid;
    border-width: 5px;
    border-color: var(--white);


    /* object-fit: contain;
    background-color: var(--full-red); */
}

.show_content_container {
    padding: 40px;

    position: relative;

    background-color: var(--white);
    /* color: var(--full-red); */

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.buy_now_button {

    padding: 10px 20px;
    height: 50px;


    background-color: var(--lite-red);
    color: var(--white);

    

    border-radius: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.buy_now_button:hover {
    background-color: var(--white);
    color: var(--lite-red);
}




.show_botom{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.seller_box{
    
    background-color: var(--lite-red);
    color: var(--white);

    padding: 10px 20px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    align-items: center;
}
.seller_box:hover{
    background-color: var(--white);
    color: var(--lite-red);
}

.seller_box p{
    margin: 0;
    /* color: var(--white); */
}

.ads_image_profile {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50% !important;
}

.chidei_info{
    color: var(--lite-red);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.chidei_info:hover{
    color: var(--white);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}