.navbar_main{
    height: 50px;

    display: flex;
    justify-content: space-around;
}

.navbar_component{
    
    display: flex;
    justify-content: space-around;

}
.navbar_component li {
    padding: 10px 20px;
    /* background-color: var(--full-red);
    border-radius: 0px 0px 10px 10px; */
}

.navbar_home_button{
    background-color: var(--full-red);
    border-radius: 0px 0px 10px 10px;
}

.navbar_start{
    background-color: var(--full-red);
    border-radius: 0px 0px 0px 10px;
}

