.responsive-container {
    width: 80%; /* Imposta la larghezza al 80% della larghezza del genitore */
    max-width: 600px; /* Imposta la larghezza massima a 1200 pixel */
    margin: 0 auto; /* Centra il contenuto all'interno del genitore */
    height:60%; /* Imposta l'altezza al 60% dell'altezza del viewport */
    max-height: auto; /* Imposta l'altezza al 60% dell'altezza del viewport */
}