

.navbar_toggle{

    /* display: flex;
    align-items: center;
    display: none; */
    display: none;

    position: relative;
    z-index: 4;
    color: var(--white);
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    background-color: var(--full-red);
    
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}

.mobile_nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 64px;
    min-height: 30vh;
    
    background-color: var(--white);
    
}
.mobile_nav a{
    display: block;
    background-color: var(--white);
    color: black;
    margin-bottom: 16px;
    padding: 12px 16px;
}

.nav_didden{
    display: none;
}
.nav_show{
    display: block;
}

@media (max-width: 1140px) {
    .navbar_toggle{
        display: block;
    }
    
    .big_nav{
        display: none;
    }
}