header {
    height: 700px;
    width: 100%;
    
    background-image: url(https://i.postimg.cc/7PdwKVPJ/harry-cunningham-7q-Ce-Fo19r24-unsplash-rev.jpg);
    background-size: cover;

    border-radius: 0px 0px 20px 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    filter: brightness(90%);

    /* background-position: 100% 60%; 
    background-size: 90%;  */


}

.head_content{
    width: 60%;
    padding: 150px;

    

    color: var(--full-red);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header_form {
    display: flex;

    background-color: var(--white);
    width: 100%;
    margin-top: 70px;
    /* padding: 5px; */
    
    border-style: none;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header_form input{
    background-color: var(--white);
    width: 100%;
    padding: 5px;
    
    border-style: none;
    border-radius: 20px;
}
.header_form button{

    background-color: var(--lite-red);
    padding: 10px;
    margin: 5px;

    border-style: none;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}