.home_back {
    padding: 40px;
    background-color: var(--full-red);
}

.home_box {
    /* height: 600px; */
    margin: 0px 20px;

    background-color: var(--white);









    border-radius: 20px;

}

.home_box div {
    /* width: 50%;
    padding: 20px;

   

    display: flex;
    justify-content: center;
    align-items: center; */
}

.home_box div img {
    border-radius: 20px;


}

.home_text_one {
    padding: 100px 50px;

}

.home_revisori_container {
    height: auto;
    padding: 30px;
    background-color: var(--full-red);


    margin-bottom: 40px;
}

.home_revisori_container h3 {
    color: var(--white);
}

.home_user_box {
    padding: 50px;

    


    



}

.home_user_card {
    width: 20em;
    height: 28em;

    margin: 0px auto;
    margin-bottom: 20px;
    padding: 20px;

    background-color: var(--white);




    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user_card_hm {
    width: 100%;
}

.home_user_box_responsiv {
    /* display: none; */

    padding: 40px;
    gap: 40px;


    position: relative;
    z-index: 1;
}