.index_sort {
    height: 150px;
    display: flex;
    justify-content: center;
}




.index_sort_box {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);

    border-radius: 20px;

    border-color: var(--full-red);
    border-width: 2px;

    position: relative;
    z-index: 1;
    top: -90px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.index_sort_form{
    display: flex;

    background-color: var(--white);
    width: 90%;
    margin: 20px;
    

    
    border-style: solid;
    border-color: var(--lite-red);
    border-width: 2px;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.index_sort_form input{
    background-color: var(--white);
    width: 100%;
    padding: 5px;
    
    border-style: none;
    border-color: var(--lite-red);
    
    border-radius: 20px;
}
.index_sort_form button{

    background-color: var(--lite-red);
    padding: 10px;
    margin: 5px;

    color: var(--white);

    border-style: none;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.index_sort_form button:hover{
    background-color: var(--white);
    color: var(--lite-red);
}



.index_sort_select{
    width: 50%;

    display: flex;
    justify-content: space-around;
    
}

.index_sort_select select{
    width: 100%;
    padding: 5px 10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-style: solid;
    border-color: var(--lite-red);
    border-width: 2px;
    border-radius: 20px;
}







.index_sort_ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index_sort_ul > li{
    padding: 20px;
    background-color: var(--full-red);

    color: var(--white);

    border-radius: 20px;
    /* border-style: solid; */
    border-color: var(--white);
    border-width: 2px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.index_sort_ul_category li{
    background-color: var(--full-red);
    padding: 10px;

    color: var(--white);

    
    
    
}


.index_back{
    margin: 100px 0px;
    padding: 40px;
    background-color: var(--full-red);
}

.index_box{
    margin: 0px 20px;

    
}