
.container_profile{
      margin: 0;
    display: flex;
   justify-content: center;
   align-items: center;
   height: 75vh;
 
}

.image_profile{
  height: 300px;
  width: 300px;
  overflow: hidden;
   border-radius: 50%;

   
}
