.show_container2 {
    margin: 5% 0px;
    padding: 1% 0px;
    background-color: var(--full-red);
}

.box_images {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box_images img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box_labels {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}